@import './mixins';

.mainAppWrapper {
  height: 100%;
  width: 100%;

  .desktop {
    display: none;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: block;
    }
  }
  .mobile {
    display: block;
    @include tablet {
      display: block;
    }
    @include desktop {
      display: none;
    }
  }
}
