@import './mixins';

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@include respond(tablet) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@include respond(desktop) {
  .mainAppWrapper {
    height: 100%;
    width: 100%;
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}
