.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .burgerContainer {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    position: fixed;
    padding: 10px;
    width: 100%;
    height: auto;
    padding: 37px 8px 0px 20px;
  }
  .burgerContainerClose {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    position: fixed;
    padding: 37px 8px 0px 20px;

    width: 100%;
    height: auto;
    mix-blend-mode: difference;
    color: white;
  }
  .menu {
    background-color: black;
    color: white;
    font-size: 20px;
    height: 60vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .navigation {
      display: flex;
      flex-direction: column;
      .ul {
        .li {
          border-top: 1px solid white;
          margin-left: 20px;
          margin-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    .socialMedia {
      a {
        padding-left: 20px;
        text-decoration: underline;
      }
      a:selected {
        color: white;
      }
    }
  }
}
