@import './mixins';

.wrapper {
  width: 100%;
  margin-bottom: 20px;
  line-height: 1.4;
  .section {
    margin-top: 20px;
    margin-bottom: 20px;
    .content {
      margin-bottom: 10px;
    }
  }
}
